.contact_form {
    display: flex;
    flex-direction: column;
}

form {
    width: 100%;
    text-align: center;
}
.contact_form i {
    height: 50px !important;
    width: 50px !important;
    line-height: 50px;
    text-align: center;
    font-size: 1.5rem;
    box-sizing: border-box;
    transition: 0.3s;
    border: 1px solid blue;
}

.contact_form input {
    box-sizing: border-box;
    height: 50px;
    width: 100%;
    transition: 0.3s;
    outline: none;

}
.contact_form textarea {
    width: 100%;
    outline: none;
}
.contact_form label {
    margin-left: 3px;
    position: absolute;
    font-size: 1rem;
    top: calc(23px - 8px);
    left: 50px;
    transition: 0.3s;
}

.cont_submit {
    border: none;
    border-radius: 8px;
    background-color: var(--primary-color);
    color: white!important;
    margin: 10px auto;
    width: 150px!important;
}
.focused {
    top: calc(-20px) !important;
    transition: 0.3s;
}

#ymaps1547178162922572747 {
    width: 100%;
}