:root {
  --primary-color: #2196f3; }

@-webkit-keyframes animatiaFrontend {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  50% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes animatiaFrontend {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  50% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@-webkit-keyframes animatiaFrontend2 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0); } }

@keyframes animatiaFrontend2 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0); } }

@-webkit-keyframes cogsAnime {
  100% {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg); } }

@keyframes cogsAnime {
  100% {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg); } }

.current_page_show {
  opacity: 1;
  position: relative; }

.current_page_hide {
  opacity: 0;
  position: absolute; }

@media screen and (max-device-width: 768px) {
  html {
    font-size: 25px; }
    html body .wrapper .content .content_heaer .avatar {
      padding: 8px 0 8px; }
      html body .wrapper .content .content_heaer .avatar img {
        top: 0px; }
    html body .wrapper .content .content_heaer .view .social-links {
      padding-bottom: 8px; }
    html body .wrapper .content .content_main {
      padding: 3px; } }

@media screen and (max-device-width: 992px) {
  html {
    font-size: 18px; }
    html body .header-nav .container .row {
      -webkit-box-align: baseline !important;
      -webkit-align-items: baseline !important;
          -ms-flex-align: baseline !important;
              align-items: baseline !important; }
    html body .header-nav .row .navbar ul {
      display: block; }
      html body .header-nav .row .navbar ul.open {
        background-color: white; }
      html body .header-nav .row .navbar ul li {
        padding: 5px; }
        html body .header-nav .row .navbar ul li.hide {
          display: none; }
        html body .header-nav .row .navbar ul li.cross {
          display: block;
          text-align: right; }
    html body .content .content_heaer .avatar {
      padding: 8px 0 8px; }
      html body .content .content_heaer .avatar img {
        top: 0px; }
    html body .content .content_heaer .view .social-links {
      padding-bottom: 8px; }
    html body .content .content_main .adminData .data-Q ul li {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; } }

body .header-nav {
  padding: 20px 0 20px;
  position: fixed;
  z-index: 999;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease; }
  body .header-nav.sticked {
    background-color: white;
    -webkit-box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.1); }
  body .header-nav .row .header h1 {
    font-size: 25px;
    margin: 0;
    padding: 0;
    color: #49515d; }
    body .header-nav .row .header h1 span {
      color: var(--primary-color); }
  body .header-nav .row .navbar ul {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    body .header-nav .row .navbar ul li {
      margin-left: 50px;
      text-decoration: none;
      list-style: none;
      cursor: pointer; }
      body .header-nav .row .navbar ul li a {
        display: inline;
        position: relative;
        width: 100%;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        text-decoration: none;
        color: inherit;
        padding: 8px 0; }
        body .header-nav .row .navbar ul li a::after {
          display: inline;
          position: absolute;
          -webkit-transform: scale(0);
              -ms-transform: scale(0);
                  transform: scale(0);
          right: 0;
          left: 0;
          bottom: 0;
          content: '';
          width: 0;
          height: 2px;
          width: 30px;
          margin: 0 auto;
          background-color: #2eca7f;
          -webkit-transition: all 0.5s;
          -o-transition: all 0.5s;
          transition: all 0.5s; }
        body .header-nav .row .navbar ul li a:hover {
          color: #646a74; }
          body .header-nav .row .navbar ul li a:hover::after {
            -webkit-transform: scale(1);
                -ms-transform: scale(1);
                    transform: scale(1); }

body .content {
  padding-top: 100px;
  -webkit-border-top-right-radius: 20px;
          border-top-right-radius: 20px;
  -webkit-border-top-left-radius: 20px;
          border-top-left-radius: 20px;
  -webkit-border-bottom-right-radius: 21px;
          border-bottom-right-radius: 21px;
  -webkit-border-bottom-left-radius: 21px;
          border-bottom-left-radius: 21px; }
  body .content h1 {
    font-size: 44px;
    font-family: Montserrat, Helvetica, sans-serif;
    font-weight: 700;
    margin: 0;
    color: white; }
  body .content .content_heaer {
    background-image: url(../img/bg.png);
    background-color: var(--primary-color);
    -webkit-border-top-right-radius: 20px;
            border-top-right-radius: 20px;
    -webkit-border-top-left-radius: 20px;
            border-top-left-radius: 20px;
    background-position: center;
    -webkit-background-size: cover;
            background-size: cover;
    padding: 0 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-width: 33%; }
    body .content .content_heaer .portfolio {
      padding: 30px 50px; }
    body .content .content_heaer .avatar {
      position: relative; }
      body .content .content_heaer .avatar img {
        position: relative;
        top: 40px;
        border: 5px solid white;
        z-index: 2; }
        body .content .content_heaer .avatar img:hover {
          -webkit-transition: all 0.2s ease;
          -o-transition: all 0.2s ease;
          transition: all 0.2s ease;
          top: 30px;
          -webkit-box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
                  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3); }
    body .content .content_heaer .view {
      color: #ffffff;
      text-align: center; }
      body .content .content_heaer .view .title_block {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        margin-bottom: 3px; }
      body .content .content_heaer .view .rotate {
        position: relative;
        z-index: 10;
        margin-bottom: 3px; }
        body .content .content_heaer .view .rotate h3 {
          font-size: 1.4rem; }
        body .content .content_heaer .view .rotate .h31 {
          position: relative;
          -webkit-backface-visibility: hidden;
                  backface-visibility: hidden;
          -webkit-animation: animatiaFrontend2 3s infinite ease;
                  animation: animatiaFrontend2 3s infinite ease; }
        body .content .content_heaer .view .rotate h2 {
          font-family: "Roboto";
          font-size: 2rem; }
      body .content .content_heaer .view .social-links {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        color: #a9a9a9;
        margin-bottom: 3px; }
        body .content .content_heaer .view .social-links a {
          color: inherit;
          text-decoration: none;
          margin: 0 5px; }
          body .content .content_heaer .view .social-links a i {
            -webkit-border-radius: 50%;
                    border-radius: 50%;
            background: white;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            height: 3.7rem;
            width: 3.7rem;
            font-size: 1.3rem;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
            -webkit-align-items: center;
                -ms-flex-align: center;
                    align-items: center; }
  body .content .content_main {
    padding: 50px;
    height: auto;
    padding-top: 75px;
    background-color: white;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.1);
    -webkit-border-bottom-right-radius: 20px;
            border-bottom-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
            border-bottom-left-radius: 20px; }
    body .content .content_main .abouteMe h3 {
      margin: 0;
      padding: 0;
      font-size: 2.2rem; }
      body .content .content_main .abouteMe h3 span {
        color: var(--primary-color); }
    body .content .content_main .abouteMe p {
      color: #a9a9a9;
      font-size: 1.2rem; }
    body .content .content_main .abouteMe a {
      display: block;
      height: 40px;
      width: 200px;
      text-align: center;
      font-weight: bold;
      text-decoration: none;
      color: inherit;
      line-height: 40px;
      border: 0;
      border-right: 3px;
      -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.3);
              box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.3);
      text-transform: uppercase; }
      body .content .content_main .abouteMe a:hover {
        -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.3);
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.3); }
    body .content .content_main .adminData {
      color: #a9a9a9;
      margin-top: 13px; }
      body .content .content_main .adminData .data-Q {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        color: #424242; }
        body .content .content_main .adminData .data-Q ul {
          line-height: 25px;
          list-style: none;
          padding: 0; }
          body .content .content_main .adminData .data-Q ul li {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
                -ms-flex-pack: justify;
                    justify-content: space-between; }
            body .content .content_main .adminData .data-Q ul li .title {
              min-width: 120px;
              color: #424242; }
            body .content .content_main .adminData .data-Q ul li .value {
              color: #a9a9a9; }
            body .content .content_main .adminData .data-Q ul li .cChange {
              color: var(--primary-color); }
    body .content .content_main .portfolio .resume .resumes {
      border: 2px solid #e0e0e0;
      border-left: 2px solid var(--primary-color);
      margin-left: 20px;
      position: relative;
      padding: 10px;
      margin-bottom: 10px;
      font-family: "Roboto"; }
      body .content .content_main .portfolio .resume .resumes h3 {
        margin: 0;
        font-family: "Montserrat" ,  sans-serif; }
      body .content .content_main .portfolio .resume .resumes a {
        display: block;
        font-family: Montserrat, sans-serif;
        font-size: 1.5rem;
        font-weight: 700;
        text-decoration: none; }
      body .content .content_main .portfolio .resume .resumes .span_date {
        color: var(--primary-color);
        font-size: 0.8rem; }
      body .content .content_main .portfolio .resume .resumes .span_location {
        color: #9e9e9e; }
      body .content .content_main .portfolio .resume .resumes::before {
        display: block;
        position: absolute;
        top: 16px;
        left: -27px;
        content: "";
        height: 12px;
        width: 12px;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        border: 2px solid #48a7f3;
        background-color: #ffffff; }
      body .content .content_main .portfolio .resume .resumes::after {
        display: block;
        position: absolute;
        content: "";
        height: 2px;
        width: 14px;
        background-color: #48a7f3;
        top: 21px;
        left: -16px; }
      body .content .content_main .portfolio .resume .resumes:hover {
        -webkit-box-shadow: 1px 0px 3px 0px #b3b2b2;
                box-shadow: 1px 0px 3px 0px #b3b2b2; }
    body .content .content_main .resume .timeline_education, body .content .content_main .resume .timeline_experience {
      width: 46%; }
      body .content .content_main .resume .timeline_education h1, body .content .content_main .resume .timeline_experience h1 {
        font-family: "Montserrat" ,  sans-serif; }
      body .content .content_main .resume .timeline_education .education, body .content .content_main .resume .timeline_education .experience, body .content .content_main .resume .timeline_experience .education, body .content .content_main .resume .timeline_experience .experience {
        border-left: 2px solid #e0e0e0; }
        body .content .content_main .resume .timeline_education .education .educations, body .content .content_main .resume .timeline_education .education .experiences, body .content .content_main .resume .timeline_education .experience .educations, body .content .content_main .resume .timeline_education .experience .experiences, body .content .content_main .resume .timeline_experience .education .educations, body .content .content_main .resume .timeline_experience .education .experiences, body .content .content_main .resume .timeline_experience .experience .educations, body .content .content_main .resume .timeline_experience .experience .experiences {
          border: 2px solid #e0e0e0;
          border-left: 2px solid var(--primary-color);
          margin-left: 20px;
          position: relative;
          padding: 10px;
          margin-bottom: 10px;
          font-family: "Roboto"; }
          body .content .content_main .resume .timeline_education .education .educations h3, body .content .content_main .resume .timeline_education .education .experiences h3, body .content .content_main .resume .timeline_education .experience .educations h3, body .content .content_main .resume .timeline_education .experience .experiences h3, body .content .content_main .resume .timeline_experience .education .educations h3, body .content .content_main .resume .timeline_experience .education .experiences h3, body .content .content_main .resume .timeline_experience .experience .educations h3, body .content .content_main .resume .timeline_experience .experience .experiences h3 {
            margin: 0;
            font-family: "Montserrat" ,  sans-serif; }
          body .content .content_main .resume .timeline_education .education .educations a, body .content .content_main .resume .timeline_education .education .experiences a, body .content .content_main .resume .timeline_education .experience .educations a, body .content .content_main .resume .timeline_education .experience .experiences a, body .content .content_main .resume .timeline_experience .education .educations a, body .content .content_main .resume .timeline_experience .education .experiences a, body .content .content_main .resume .timeline_experience .experience .educations a, body .content .content_main .resume .timeline_experience .experience .experiences a {
            display: block;
            font-family: Montserrat, sans-serif;
            font-size: 18.72px;
            font-weight: 700; }
          body .content .content_main .resume .timeline_education .education .educations .span_date, body .content .content_main .resume .timeline_education .education .experiences .span_date, body .content .content_main .resume .timeline_education .experience .educations .span_date, body .content .content_main .resume .timeline_education .experience .experiences .span_date, body .content .content_main .resume .timeline_experience .education .educations .span_date, body .content .content_main .resume .timeline_experience .education .experiences .span_date, body .content .content_main .resume .timeline_experience .experience .educations .span_date, body .content .content_main .resume .timeline_experience .experience .experiences .span_date {
            color: var(--primary-color);
            font-size: 0.8rem; }
          body .content .content_main .resume .timeline_education .education .educations .span_location, body .content .content_main .resume .timeline_education .education .experiences .span_location, body .content .content_main .resume .timeline_education .experience .educations .span_location, body .content .content_main .resume .timeline_education .experience .experiences .span_location, body .content .content_main .resume .timeline_experience .education .educations .span_location, body .content .content_main .resume .timeline_experience .education .experiences .span_location, body .content .content_main .resume .timeline_experience .experience .educations .span_location, body .content .content_main .resume .timeline_experience .experience .experiences .span_location {
            color: #9e9e9e; }
          body .content .content_main .resume .timeline_education .education .educations::before, body .content .content_main .resume .timeline_education .education .experiences::before, body .content .content_main .resume .timeline_education .experience .educations::before, body .content .content_main .resume .timeline_education .experience .experiences::before, body .content .content_main .resume .timeline_experience .education .educations::before, body .content .content_main .resume .timeline_experience .education .experiences::before, body .content .content_main .resume .timeline_experience .experience .educations::before, body .content .content_main .resume .timeline_experience .experience .experiences::before {
            display: block;
            position: absolute;
            top: 16px;
            left: -28.3px;
            content: "";
            height: 12px;
            width: 12px;
            -webkit-border-radius: 50%;
                    border-radius: 50%;
            border: 2px solid #48a7f3;
            background-color: #ffffff; }
          body .content .content_main .resume .timeline_education .education .educations::after, body .content .content_main .resume .timeline_education .education .experiences::after, body .content .content_main .resume .timeline_education .experience .educations::after, body .content .content_main .resume .timeline_education .experience .experiences::after, body .content .content_main .resume .timeline_experience .education .educations::after, body .content .content_main .resume .timeline_experience .education .experiences::after, body .content .content_main .resume .timeline_experience .experience .educations::after, body .content .content_main .resume .timeline_experience .experience .experiences::after {
            display: block;
            position: absolute;
            content: "";
            height: 2px;
            width: 19px;
            background-color: #48a7f3;
            top: 21px;
            left: -19px; }
          body .content .content_main .resume .timeline_education .education .educations:hover, body .content .content_main .resume .timeline_education .education .experiences:hover, body .content .content_main .resume .timeline_education .experience .educations:hover, body .content .content_main .resume .timeline_education .experience .experiences:hover, body .content .content_main .resume .timeline_experience .education .educations:hover, body .content .content_main .resume .timeline_experience .education .experiences:hover, body .content .content_main .resume .timeline_experience .experience .educations:hover, body .content .content_main .resume .timeline_experience .experience .experiences:hover {
            -webkit-box-shadow: 1px 0px 3px 0px #b3b2b2;
                    box-shadow: 1px 0px 3px 0px #b3b2b2; }

footer {
  margin-top: 10px; }

body {
  background-image: url(../img/main_bg.png);
  background-color: #f5f5f5;
  background-position: center center;
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed; }

.cross {
  display: none; }

aside {
  position: fixed;
  top: 20%;
  right: 0px;
  -webkit-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease;
  z-index: 90; }
  aside .switch {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 55px;
    height: 55px;
    -webkit-box-shadow: 0 1px 12px 4px rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 12px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #d5d5d5;
    position: relative;
    left: -webkit-calc(100% - 55px);
    left: calc(100% - 55px);
    top: -10px;
    background-color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.7rem; }
  aside .page_color {
    padding: 10px;
    -webkit-box-shadow: 0 1px 12px 4px rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 12px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #d5d5d5;
    -webkit-transform-origin: 100% center;
        -ms-transform-origin: 100% center;
            transform-origin: 100% center;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #fff; }
    aside .page_color span {
      text-align: center;
      margin-top: 5px;
      margin-bottom: 5px;
      padding: 10px;
      color: #424242; }
    aside .page_color .colors {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      justify-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-align-content: center;
      -ms-flex-line-pack: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      grid-gap: 5px;
      margin-bottom: 5px; }
      aside .page_color .colors .color {
        color: white;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        height: 25px;
        width: 35px; }
  aside .page_color_hide {
    -webkit-transform-origin: 100% center;
        -ms-transform-origin: 100% center;
            transform-origin: 100% center;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease; }

.color1 {
  background-color: #7e6df6; }

.color2 {
  background-color: #F44336; }

.color3 {
  background-color: #2196F3; }

.color4 {
  background-color: #FF5722; }

.color5 {
  background-color: #2eca7f; }

.color6 {
  background-color: #29B6F6; }

.color7 {
  background-color: #E91E63; }

.color8 {
  background-color: #A0F; }

.color9 {
  background-color: #FF9800; }

.color10 {
  background-color: #FBC02D; }

.color11 {
  background-color: #9dd100; }

.color12 {
  background-color: #26d9ac; }

.cogRot1 {
  -webkit-transform: rotate(720deg);
      -ms-transform: rotate(720deg);
          transform: rotate(720deg);
  -webkit-transition: 0.45s linear;
  -o-transition: 0.45s linear;
  transition: 0.45s linear; }

.cogRot2 {
  -webkit-transform: rotate(-720deg);
      -ms-transform: rotate(-720deg);
          transform: rotate(-720deg);
  -webkit-transition: 0.45s linear;
  -o-transition: 0.45s linear;
  transition: 0.45s linear; }

.sectionHide {
  display: none; }
