:root {
    --soc_btn_size: 60px; /* размер иконок */
    --primary-color: #2196f3;
}

body {
    padding: 0;
    margin: 0;
}

.social-links_new {
    width: 100%;
    text-align: center;
}

.soc_btn {
    display: inline-block;
    width: var(--soc_btn_size);
    height: var(--soc_btn_size);
    background-color: #f1f1f1;
    margin: 10px;
    border-radius: 30%;
    border: 3px solid #f1f1f1;
    box-shadow: 0 5px 15px -5px #00000070;
    color: var(--primary-color);
    overflow: hidden;
    position: relative;

}

.soc_btn a .cChange {
    color: var(--primary-color);
}

.soc_btn i {
    line-height: var(--soc_btn_size);
    font-size: 26px;
    transition: 0.2s linear;
}

.soc_btn:hover i {
    transform: scale(1.3);
    color: #f1f1f1;
}

.soc_btn::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background-color: #3498db;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
}

.soc_btn:hover::before {
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
}

@keyframes aaa {
    0% {
        left: -110%;
        top: 90%;
    }
    50% {
        left: 10%;
        top: -30%;
    }
    100% {
        left: -10%;
        top: -10%;
    }
}

