//Медиа запросы

@media screen and (max-device-width: 768px) {
	html{
		font-size: 25px;
		body {
			.wrapper {
				.content {
					.content_heaer {
						.avatar {
							padding: 8px 0 8px;
							img {
								top: 0px;
							}
						}
						.view {
							.social-links {
								padding-bottom: 8px;
							}
						}
					}
					.content_main {
						padding: 3px;
					}
				}
			}
		}
	}	
}

@media screen and (max-device-width: 992px) {
	html{
		font-size: 18px;
		body {
			.wrapper {
			}
			.header-nav {
				.container {
					.row {
						align-items: baseline !important;
					}
				}
				.row {
					.navbar {
						ul {
							display: block;
							&.open {
								background-color: white;
							}
							li {
								padding: 5px;
								&.hide {
									display: none;
								}
								&.cross {
									display: block;
									text-align: right;
								}
							}
						}
					}
				}
			}
			.content {
				.content_heaer {
					.avatar {
						padding: 8px 0 8px;
						img {
							top: 0px;
						}

					}
					.view {
						.social-links {
							padding-bottom: 8px;
						}
					}
				}
				.content_main {
					.adminData {
						.data-Q {
							ul {
								li {
									display: flex;
									justify-content: space-between;
									&.title {
							
									}
								}
							}
						}
					}
				}
			}
		}
	}	
}
