//Медиа запросы

@media screen and (max-width: 768px) {
	html{
		font-size: 25px;
		body {
			.wrapper {
				.content {
					.content_header {
						.avatar {
							padding: 8px 0 8px;
							img {
								top: 0px;
							}
						}
						.view {
							.social-links {
								padding-bottom: 8px;
							}
						}
					}
					.content_main {
						padding: 3px;
						.service {
							&_services > div{
								min-width: 100%;
							}
						}
					}
				}
			}
			.header-nav {
				.row {
					.navbar {
						display: block;
						position: fixed;
						.open {
							position: fixed;
							top: 0;
							left: 0;
							height: 100vh;
							width: 100vw;
							background-color: rgba(0,0,0,0.7)!important;
							text-align: center;
							a {
								font-size: 1.3rem;
								font-weight: bolder;
								color: #fff;
							}

						}
					}
					.navbar {
						ul {
							display: block;
							&.open {
								background-color: white;
							}
							li {
								padding: 5px;
								&.hide {
									display: none;
								}
								&.cross {
									display: block;
									text-align: right;
								}
							}
						}
					}
					
				}

			}
		}
	}	
}
@media screen and (min-width:768px) and (max-width: 992px) {
	.title_block {
		margin-top: 70px;
	}
}
@media screen and (max-device-width: 992px) {

	html{
		font-size: 18px;
		body {
			.wrapper {
			}
			.header-nav {
				.container {
					.row {
						align-items: baseline !important;
					}
				}
				.row {
					.navbar {
						ul {
							display: block;
							&.open {
								background-color: white;
							}
							li {
								padding: 5px;
								&.hide {
									display: none;
								}
								&.cross {
									display: block;
									text-align: right;
								}
							}
						}
					}
				}
			}
			.content {
				.content_header {
					.avatar {
						padding: 8px 0 8px;
						img {
							top: 0px;
						}
					}
					.view {
						.social-links {
							padding-bottom: 8px;
						}
					}
				}
				.content_main {
					.adminData {
						.data-Q {
							ul {
								li {
									display: flex;
									justify-content: space-between;
									&.title {
							
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
