//Медиа запросы

@media screen and (max-width: 768px) {
	html{
		font-size: 30px;
		body {
			.content {
				.content_heaer {
					.avatar {
						padding: 8px 0 8px;
						img {
							top: 0px;
						}
					}
					.view {
						.social-links {
							padding-bottom: 8px;
						}
					}
				}
			}
		}
	}	
}

@media screen and (max-width: 992px) {
	html{
		body {
			.header-nav {
				.container {
					.row {
						align-items: baseline !important;
					}
				}
				.row {
					.navbar {
						ul {
							display: block;
							&.open {
								background-color: white;
							}
							li {
								padding: 5px;
								&.hide {
									display: none;
								}
								&.cross {
									display: block;
									text-align: right;
								}
							}
						}
					}
				}
			}
			.content {
				.content_heaer {
					.avatar {
						padding: 8px 0 8px;
						img {
							top: 0px;
						}

					}
					.view {
						.social-links {
							padding-bottom: 8px;
						}
					}
				}
			}
		}
	}	
}
